.alert > .glyphicon-asterisk {
    vertical-align: text-top;
}

label {
    color: gray;
}

.form-group {
    margin-bottom: 40px;
}

.glyphicon-asterisk {
    font-size: 10px;
    vertical-align: top;
}

.form-group>div>span{
    font-style: italic;
    font-size: small;
}