.alert > .glyphicon-asterisk {
    vertical-align: text-top;
}

label {
    color: gray;
}

.form-group {
    margin-bottom: 40px;
}

.glyphicon-asterisk {
    font-size: 10px;
    vertical-align: top;
}

.form-group>div>span{
    font-style: italic;
    font-size: small;
}

.cancel-btn{
margin-left: 5px;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

