th,td{
    white-space: nowrap;
    min-width: 50px;
}

.createdByTh{
    min-width: 95px !important;
}

.actionBtn{
    padding: 2px 7px;
}

.arrow{
    cursor: pointer;
}

th{
    font-size: 11px;
    cursor: pointer;
}

td{
    font-size: 12px;
    vertical-align: middle !important;
}

input{
    padding:0;
    font-family:Arial, FontAwesome
}

.form-control{
   border-right: 0;
   border-left: 0;
   border-top: 0;
   border-radius: 0;
   border-bottom: 0;
}

.form-control:focus {
    
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom: 1px solid;
}

