th,td{
    white-space: nowrap;
    min-width: 55px;
}

.createdByTh{
    min-width: 95px !important;
}

.actionBtn{
    padding: 2px 7px;
}

.arrow{
    cursor: pointer;
}

th{
    font-size: 11px;
    cursor: pointer;
}

td{
    font-size: 12px;
    vertical-align: middle !important;
}

input{
    padding:0;
    font-family:Arial, FontAwesome
}

input{
   border-right: 0;
   border-left: 0;
   border-top: 0;
   border-radius: 0;
   border-bottom: 0;
}

.filterselect{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom: 0;
    padding: 0;
    font-size:12px;
}

input:focus {
    
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom: 1px solid;
}

.filterselect:focus{
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    border-bottom: 0;
}

.fa-filter{
    color: #a9a9a9;
}

