.btn-info {
    background-color: #159e82;
    border-color: #159e82;
}

.btn-default {
    background-color: #0f715d;
    border-collapse: #0f715d;
}

.btn-warning {
    background-color: #0c5a4b;
    border-color: #0c5a4b;
}